################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Minesweeper++/.vs/Minesweeper++/v15/Browse.VC.opendb
